node_modules

lerna-debug.log
package.json.lerna_backup

dotnet-install.sh

# Serverless directories
.build
.lambda-build
.serverless
.webpack
dist

# AWS Local Services
.devcontainer/.cognito/db/*_local.json
.devcontainer/.cognito/db/local.json
.devcontainer/.db/**
.devcontainer/.s3/**

# Transaction service buckets
!.devcontainer/.s3/Transactions-uploads
!.devcontainer/.s3/Transactions-uploads/._S3rver_cors.xml

# Cognito Local user file
.devcontainer/.cognito/db/us-east-1_local.json

# VS Debugger
.devcontainer/vsdbg

# lambda dotnetcore deploy packages
*-deploy-package.zip

# Mac
.DS_Store


mono_crash.*

# Storybooks
packages/**/storybooks
packages/**/storybook
storybooks/*
storybook/*
.env

# lerna files
lerna-debug.log
package.json.lerna_backup

.pnpm-store

__pycache__
.pytest_cache
